In [1]:
# dependencies

from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

## ------------------------NEWS----------------------------------

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

html_news = browser.html
soup_news = BeautifulSoup(html_news, 'html.parser')

In [8]:
news_title = soup_news.find('div', {"class": "content_title"}).text
print(news_title)

NASA Mars Mission Adds Southern California Dates

In [13]:
news_p = soup_news.find('div', {"class": "article_teaser_body"}).text
print(news_p)

Looking for summer fun? Southern California families have their choice of the beach, movies, museums -- and even NASA's next mission to Mars.

## ------------------------FEATURED IMAGE----------------------------------

In [70]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [92]:
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_image)

In [130]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [131]:
image = soup.find('article', class_="carousel_item")

In [132]:
image = str(image)

In [133]:
image = image.split(" url('")[1]

In [135]:
image = image.split("');")[0]

In [136]:
print(image)

/spaceimages/images/wallpaper/PIA18432-1920x1200.jpg

In [137]:
featured_image_url = "https://www.jpl.nasa.gov/" + image

In [138]:
browser.visit(featured_image_url)

## ------------------------WEATHER----------------------------------

In [142]:
url_twit = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_twit)

In [143]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [163]:
weather = soup.find('div', class_ = "js-tweet-text-container")

In [164]:
weather = str(weather)

In [165]:
weather = weather.split('lang="en">')[1]

In [166]:
print(weather)

Sol 2108 (2018-07-12), Sunny, high -24C/-11F, low -65C/-84F, pressure at 8.06 hPa, daylight 05:19-17:27</p>
</div>

In [167]:
weather = weather.split("</p>")[0]

In [168]:
print(weather)

Sol 2108 (2018-07-12), Sunny, high -24C/-11F, low -65C/-84F, pressure at 8.06 hPa, daylight 05:19-17:27

## ------------------------FACTS----------------------------------

In [257]:
url_facts = "https://space-facts.com/mars/"
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [258]:
df = tables[0]

In [259]:
df.columns = ["Fact", "Amount"]

In [263]:
df = df.set_index(df["Fact"])

In [270]:
df = df.drop(columns=['Fact'])

In [271]:
df

                                             Amount
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [274]:
html_table = df.to_html()

In [278]:
html_table = html_table.replace('\n', '')

In [279]:
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Amount</th>    </tr>    <tr>      <th>Fact</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## ------------------------HEMISPHERES----------------------------------

In [273]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]